<%- include ('../partials/header') %>

<div class="container my-5">
  <header>
    <h1>Edit: <%= formData.title %></h1>
  </header>
  <hr>

  <div>
    <%- include ('./_form', { actionPath: '/blogs/update' }) %>
  </div>
</div>

<%- include ('../partials/footer') %>