<%- include ('../partials/header') %>

<div class="container my-5">
  <header>
    <h1>New Blog Post</h1>
  </header>
  <hr>

  <div>
    <%- include ('./_form') %>
  </div>
</div>

<%- include ('../partials/footer') %>