<%- include ('../partials/header') %>

<div class="container my-5">
  <header>
    <h1>New Image</h1>
  </header>

  <hr>

  <form action="/images" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <input type="file" name="image" class="form-control">
      <button class="btn btn-primary" type="submit">Upload</button>
    </div>
  </form>
</div>

<%- include ('../partials/footer') %>