<% if (flash) { %>
  <% for (let [alertType, messages] of Object.entries(flash)) { %>
    <div class="alert alert-<%= alertType %>">
      <% for (let message of messages) { %>
        <%= message %><br>
      <% } %>
    </div>
  <% } %>
<% } %>