<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="/" class="navbar-brand">SCMBlog</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="/" class="nav-link">Home</a>
      </li>

      <li class="nav-item">
        <a href="/about" class="nav-link">About</a>
      </li>

      <li class="nav-item">
        <a href="/contact" class="nav-link">Contact</a>
      </li>

      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="blogsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Blogs
        </a>

        <div class="dropdown-menu" aria-labelledby="blogsDropdown">
          <a href="/blogs" class="dropdown-item">Archive</a>
          <% if (authorized) { %>
            <div class="dropdown-divider"></div>
            <a href="/blogs/new" class="dropdown-item">New Post</a>
          <% } %>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav">
      <% if (authorized) {%>
        <li class="nav-item">
          <a href="/logout" class="nav-link">
            <i class="fa fa-sign-out"></i>
            Logout
          </a>
        </li>
      <%} else { %>
        <li class="nav-item">
          <a href="/register" class="nav-link">
            <i class="fa fa-user-plus"></i>
            Register
          </a>
        </li>

        <li class="nav-item">
          <a href="/login" class="nav-link">
            <i class="fa fa-sign-in"></i>
            Login
          </a>
        </li>
      <% } %>
    </ul>
  </div>
</nav>