<%- include('../partials/header') %>
<div class="container my-5">
  <header class="jumbotron">
    <h1>All About Me</h1>
  </header>

  <div>
    <p>The autobiography of Shaun McKinnon</p>
  </div>
</div>
<%- include('../partials/footer') %>