<%- include ('../partials/header')  %> 

<div class="container my-5">
  <header>
    <h1>Register New User</h1>
  </header>
  <hr>

  <div>
    <form action="/authenticate" method="post">
      <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" type="email" name="email">
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" type="password" name="password">
      </div>

      <div class="form-group">
        <button class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>

<%- include ('../partials/footer')  %> 